<div class="collection-section">
   <section class="top-section">
        <h1 class="top-heading">Handcrafted Embroidery Art</h1>
        <p>Thoughtfully stitched pieces inspired by stories, celebrations, and emotions.</p>
    </section>
    <section class="about-us">
        <img src="assets/images/pic.png" class="about-image"/>
        <div>
            <h2>About the Artist</h2>
            <p>Hi, I’m Disha M — a handcrafted embroidery artist. I create personalised embroidery pieces that turn
                special
                moments into timeless keepsakes.
            </p>
        </div>
    </section>
    
    <section class="our-story">
        <h2>Our Story</h2>
        <p>What began as a creative passion slowly grew into a space where ideas, names, and moments are transformed
            into art. Every embroidery hoop is carefully designed and
            stitched by hand, making each piece truly one of a kind.
        </p>
    </section>
    <section class="why-handmade"style="background-color: white;">
        <h2>Why Choose Handmade</h2>
        <div>
            <ul>
                <li>🧵 100% Hand-stitched</li>
                <li>🎨 Custom Designs</li>
                <li>💝 Made for Gifting</li>
                <li>🌿 Quality Materials</li>
                <li>✨ Crafted with Care</li>
            </ul>
        </div>
    </section>
    <section class="why-handmade">
        <h2>Custom Order Process</h2>
        <div>
            <ul>
                <li>1️⃣ Share your idea</li>
                <li>2️⃣ Confirm design</li>
                <li>3️⃣ Handcrafted</li>
                <li>4️⃣ Delivered with love</li>
            </ul>
        </div>
    </section>
    <section class="why-handmade" style="background-color: white;">
        <h2>Perfect For</h2>
        <div>
            <ul>
                <li>🎂 Birthdays</li>
                <li>💍 Weddings</li>
                <li>💞 Anniversaries</li>
                <li>👶 Baby Showers</li>
                <li>🏡 Home Décor</li>
                <li>🎁 Gifts</li>
            </ul>
        </div>
    </section>
    <section class="contact" >
        <h2>Have a story or idea in mind?</h2>
        <p>Follow us on Instagram &#64;craftershilpa1 for the latest updates, behind-the-scenes peeks, and new
            collection launches. We love sharing our creative journey with you!</p>
        <p>Let’s turn it into a handcrafted embroidery piece.</p>
        <a routerLink="/home"><button>Contact Us</button></a>
    </section> 
    <section class="greeting">Thank you for supporting handmade art 🤍</section>
</div>