
    <section class="hero">
    <div class="banner-image">
    </div>
    <div class="overlay-text">
        <div class="content">
            <p class="title">Handcrafted Embroidery Art</p>
            <p class="subtitle">
                <!-- Hand-embroidered with love and artistry, made to warm every space it touches. -->
                Made with love, thoughtful details, and artistic passion.
            </p>
            <button class="cta-btn"><a href="/collection">View Collection</a></button>
        </div>
    </div>
</section>
<section id="contact" class="contact-section">
  <app-contact></app-contact>
</section>

